# Database Configuration (Supabase / PostgreSQL)
DATABASE_URL="postgresql://username:password@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://username:password@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"

# JWT Authentication Config
JWT_SECRET="your-super-secret-jwt-key"
JWT_EXPIRES_IN="7d"

# Server Port
PORT=3000
